<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="main w-full h-screen bg-zinc-700 p-5">
        <div class="form">
            <form action="/create" method="post">
                <input class="w-full text-white bg-zinc-500 px-4 py-3 mt-2 rounded-md outline-none" placeholder="write title" type="text" name="title" id="">
                <textarea class="w-full text-white bg-zinc-500 px-4 py-3 mt-2 rounded-md resize-none h-28 outline-none" placeholder="write a description..." name="description" id="" cols="10" rows="10"></textarea>
                <input class="px-8 py-2 bg-green-300 rounded-md mt-5" type="submit" value="create">
            </form>
        </div>
        <div class="tile mt-10 flex flex-wrap gap-5">
            <% if(box.length > 0){ %>
                <% box.forEach(e => { %>
                                    <div class="box max-w-96 min-w-96 bg-zinc-500 py-5 px-5 rounded-md relative">
                    <div class="up-linner flex items-center justify-between">
                        <h1 class="text-5xl capitalize"><%= e.title %></h1>
                        <a href="" class="text-red-700"><i class="ri-xrp-line text-xl font-bold"></i></a>
                    </div>
                    <p class="opacity-40 mt-2 text-black">
                        <%= e.description %>
                    </p>
                    <div class="linner mt-6 flex items-center justify-between">
                        <a href="/read/<%= e._id %>" class="text-sm cursor-pointer text-blue-800  inline-block">Read more!</a>
                        <a id="edit" href="" class="text-yellow-400">Edit<i class="ri-sketching"></i></a>
                    </div>
                </div>
                <% }) %>
                <% } else{ %>
                    <h1>no task created!</h1>
                    <% } %>
        </div>
    </div>
</body>
</html>