<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="main w-full h-screen bg-zinc-700 p-5">
        <a href="/" class="text-blue-400 text-xl inline-block mb-5">
            go to home page
        </a>
        <h1 class="text-6xl capitalize text-white"><%= search.title %></h1>
        <h1 class="text-zinc-300 ml-3 mt-4"><%= search.description %></h1>
    </div>
</body>
</html>